<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Index
body
  h1 Sloggin thru da Login
  form(method="POST" action="/basic")
    p username
    input(type="text" name="username")
    p password
    input(type="text" name="password")
    input(type="submit" value="submit")
